﻿@model webAppTest.Models.tbl_users

@{
    ViewBag.Title = "Remove Category";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this category?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm("Delete","category","post")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
