﻿@model webAppTest.Models.tbl_users

@{
    ViewBag.Title = "New Status";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("create", "status", "post"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-8">
                @Html.ActionLink("Back to List", "Index", null, new Dictionary<string, object>() { { "class", "btn btn-link" } })
                <input type="submit" value="Save" class="btn btn-success pull-right" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_Name", Request["txt_Name"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "Name" } })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
