﻿@model webAppTest.Models.tbl_users

@{
    ViewBag.Title = "Modify Status";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Edit", "status", "post"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-8">
                @Html.ActionLink("Back to List", "Index", null, new Dictionary<string, object>() { { "class", "btn btn-link" } })
                <input type="submit" value="Update" class="btn btn-warning pull-right" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                @Html.TextBox("txt_Name", (string)ViewBag.Data[0]["Name"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "First Name" } })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
