﻿@model IEnumerable<webAppTest.Models.tbl_users>

@{
    ViewBag.Title = "Status";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink(" Add New ", "Create",null,new Dictionary<string, object>(){ {"class", "btn btn-primary" } })
</p>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>

@for (int index = 0; index < ViewBag.Data.Rows.Count; index ++) {
    <tr>
        <td>
            @ViewBag.Data.Rows[index]["Name"]
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id= ViewBag.Data.Rows[index]["ID"] }) |
            @*@Html.ActionLink("Details", "Details", new {  id= ViewBag.Data.Rows[index]["ID"] }) |*@
            @Html.ActionLink("Delete", "Delete", new {  id= ViewBag.Data.Rows[index]["ID"] })
        </td>
    </tr>
}

</table>
