﻿@model webAppTest.Models.tbl_users

@{
    ViewBag.Title = "New User";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("create", "users", "post"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-8">
                @Html.ActionLink("Back to List", "Index", null, new Dictionary<string, object>() { { "class", "btn btn-link" } })
                <input type="submit" value="Add New" class="btn btn-primary pull-right" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.DropDownList("txt_RoleId",(IEnumerable<SelectListItem>)ViewBag.Role,new Dictionary<string, object>() { { "class","form-control"} })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_firstName", Request["txt_firstName"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "First Name" } })
            </div>
            <div class="col-lg-6">
                @Html.TextBox("txt_lastName", Request["txt_firstName"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "Last Name" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_UserName", Request["txt_UserName"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "User Name" } })
            </div>
            <div class="col-lg-6">
                @Html.TextBox("txt_password", Request["txt_password"], new Dictionary<string, object>() { { "type", "password" }, { "class", "form-control" }, { "placeholder", "Password" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_email", Request["txt_email"], new Dictionary<string, object>() { { "type", "email" }, { "class", "form-control" }, { "placeholder", "Email Address" } })
            </div>
            <div class="col-lg-6">
                @Html.TextBox("txt_phone", Request["txt_phone"], new Dictionary<string, object>() { { "type", "tel" }, { "class", "form-control" }, { "placeholder", "Phone number" } })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
