﻿@model webAppTest.Models.tbl_users

@{
    ViewBag.Title = "Modify User";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Edit", "users", "post"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-8">
                @Html.ActionLink("Back to List", "Index", null, new Dictionary<string, object>() { { "class", "btn btn-link" } })
                <input type="submit" value="Update" class="btn btn-warning pull-right" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.DropDownList("txt_RoleId", (IEnumerable<SelectListItem>)ViewBag.Role, new Dictionary<string, object>() { { "class", "form-control" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_firstName", (string)ViewBag.Data[0]["FirstName"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "First Name" } })
            </div>
            <div class="col-lg-6">
                @Html.TextBox("txt_lastName", (string)ViewBag.Data[0]["LastName"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "Last Name" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_UserName", (string)ViewBag.Data[0]["UserName"], new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "User Name" } })
            </div>
            <div class="col-lg-6">
                @Html.TextBox("txt_password", (string)ViewBag.Data[0]["Passwd"], new Dictionary<string, object>() { { "type", "password" }, { "class", "form-control" }, { "placeholder", "Password" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                @Html.TextBox("txt_email", (string)ViewBag.Data[0]["Email"], new Dictionary<string, object>() { { "type", "email" }, { "class", "form-control" }, { "placeholder", "Email Address" } })
            </div>
            <div class="col-lg-6">
                @Html.TextBox("txt_phone", (string)ViewBag.Data[0]["Phone"], new Dictionary<string, object>() { { "type", "tel" }, { "class", "form-control" }, { "placeholder", "Phone number" } })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
